<footer class="py-4 bg-light mt-auto">
    <div class="container-fluid px-4">
        <div class="text-center small">
            <div class="text-muted"> &copy; AE-FUNAI SHUTTLE 2024</div>
        </div>
    </div>
</footer>