<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Driver</div>
                <a class="nav-link text-muted fw-bold mb-2" href="/dashboard">
                    <div class="sb-nav-link-icon text-success"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
               
                <a class="nav-link text-muted fw-bold mb-2" href="/vehicle">
                    <div class="sb-nav-link-icon text-success"><i class="fas fa-car"></i></div>
                    Vehicle
                </a>
                <a class="nav-link text-muted fw-bold mb-2" href="/bookings">
                    <div class="sb-nav-link-icon text-success"><i class="fas fa-book"></i></div>
                    Bookings
                </a>
                <a class="nav-link text-muted fw-bold mb-2" href="/change-password">
                    <div class="sb-nav-link-icon text-success"><i class="fas fa-gear"></i></div>
                    Settings
                </a>
                <a class="nav-link text-muted fw-bold mb-2" href="/auth/user-logout">
                    <div class="sb-nav-link-icon text-success"><i class="fas fa-sign-in"></i></div>
                    Sign Out
                </a>
            </div>
        </div>
    </nav>
</div>